<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Twitter OAuth Sample</title>
  </head>
  <body>
    <h1>Not signed in</h1>
    <hr>
    <a href="/signin">Sign in</a>
  </body>
</html>
